.formdiv {
    min-width: 60%;
    max-width: 90%;
}
.containerdiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.formheaders {
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.myspan {
    color: red;
}